%title-24 {
  font-size: max(18px, 2.4rem);
  font-weight: 600;
  line-height: 3.4rem;
}

%title-36 {
  font-size: max(22px, 3.6rem);
  font-weight: 600;
  line-height: 6.12rem;
}

%title-56 {
  font-size: max(31px, 5.6rem);
  line-height: 7.8rem;
  font-weight: 700;
}
