<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__brand">
      <a class="footer__brand__logo__link">
        <img
          ngSrc="Group_1000004360.png"
          alt="Dananz"
          class="footer__brand__logo__image"
          width="126"
          height="54"
          priority
        />
      </a>
      <p class="footer__brand__text">
        One of the best furniture <br />
        agency.
      </p>
    </div>
    <div class="footer__contact">
      <div class="footer__contact__form">
        <svg class="footer__contact__form__label__sprite" id="ellipse">
          <use xlink:href="assets/svg/sprite.svg#ellipse"></use>
        </svg>
        <label class="footer__contact__form__label" for="contactForm">
          Enter <span>your email to get the laterst news </span>
        </label>
        <div class="footer__contact__form__inputgroup">
          <input
            type="text"
            name=""
            id="contactForm"
            placeholder="Email Address"
            class="footer__contact__form__inputgroup__input"
          />
          <button class="footer__contact__form__inputgroup__submit">
            <svg class="footer__contact__form__label__sprite" id="arrow">
              <use xlink:href="assets/svg/sprite.svg#arrow"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="footer__contact__social">
        <p class="footer__contact__social__text">Follow us On</p>
        <div class="footer__contact__social__links">
          <a class="footer__contact__social__link">
            <svg class="footer__contact__social__link__sprite" id="facebook">
              <use xlink:href="assets/svg/sprite.svg#facebook"></use>
            </svg>
          </a>
          <a class="footer__contact__social__link">
            <svg class="footer__contact__social__link__sprite" id="instagram">
              <use xlink:href="assets/svg/sprite.svg#instagram"></use>
            </svg>
          </a>
          <a class="footer__contact__social__link">
            <svg class="footer__contact__social__link__sprite" id="tiktok">
              <use xlink:href="assets/svg/sprite.svg#tiktok"></use>
            </svg>
          </a>
          <a class="footer__contact__social__link">
            <svg class="footer__contact__social__link__sprite" id="youtube">
              <use xlink:href="assets/svg/sprite.svg#youtube"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
