$color-white: #fff;
$color-black: #000;
$color-astronaut: #2c3878;
$color-quicksand: #bc978c;
$color-lighttray: #d9d9d9;
$color-cod-gray: #141414;
$color-dusty-gray: #9c9c9c;
$color-cornflower-blue: #333333;
$color-overlay: rgb(230, 230, 230, 0.7);

$font-poppins: Poppins;
$font-suisse-bp: "Suisse BP";

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: ("navigation", "content");
