<div class="home">
  <div class="home__wrapper">
    <section class="home__header">
      <h1 class="home__header__heading">Minimalist Room</h1>
      <p class="home__header__description">
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout.
      </p>
    </section>
    <section class="home__gallery">
      <figure class="home__gallery__figure">
        <img
          ngSrc="unsplash_77JACslA8G0.png"
          alt="Main Banner"
          class="home__gallery__image"
          width="1200"
          height="513"
          priority
        />
      </figure>
    </section>
    <section class="home__main__content">
      <div class="home__main__content__wrapper">
        <div class="home__main__content__article">
          <h3 class="home__main__content__article__heading">
            Project Overview
          </h3>
          <p class="home__main__content__article__description">
            Online learning with us does not interfere with your daily life.
            because learning can be done anytime and anywhere. Online learning
            with us does not interfere with your daily life. because learning
            can be done anytime and anywhere. Online learning with us does not
            interfere with your daily life. because learning can be done anytime
            and anywhere.
          </p>

          <span class="home__main__content__article__date">July 22 - 2022</span
          ><span class="home__main__content__article__text">
            Interior Design - Furnitur
          </span>
        </div>
        <div class="home__main__content__article">
          <h3 class="home__main__content__article__heading">Design Process</h3>
          <p
            class="home__main__content__article__description"
            id="designProcess"
          >
            Online learning with us does not interfere with your daily life.
            because learning can be done anytime and anywhere. Online learning
            with us does not interfere with your daily life. because learning
            can be done anytime and anywhere.
          </p>
          <p class="home__main__content__article__description">
            Online learning with us does not interfere with your daily life.
            because learning can be done anytime and anywhere. Online learning
            with us does not interfere with your daily life. because learning
            can be done anytime and anywhere.
          </p>
        </div>
      </div>
    </section>
    <section class="home__media__gallery">
      <img
        ngSrc="unsplash_7tFlUFGa7Dk.png"
        alt=""
        width="584"
        height="513"
        priority
      />
      <img
        ngSrc="unsplash_sdRZrK4lVCk.png"
        alt=""
        width="584"
        height="513"
        priority
      />
      <img
        ngSrc="unsplash_JIUjvqe2ZHg.png"
        alt=""
        width="1200"
        height="513"
        priority
      />
      <img
        ngSrc="unsplash_dO3qTKxwik0.png"
        alt=""
        width="584"
        height="513"
        priority
      />
      <img
        ngSrc="unsplash_2_BZuGgkP4k.png"
        alt=""
        width="584"
        height="513"
        priority
      />
    </section>

    <section class="home__call__to__action">
      <div class="home__call__to__action__wrapper">
        <p class="home__call__to__action__text">
          let's discuss making your interior like a dream place!
        </p>

        <div class="home__call__to__action__contact">
          <p>
            Contact us below to work together to build your amazing interior
          </p>
          <button class="home__call__to__action__button">Contact Us</button>
        </div>
      </div>
    </section>
  </div>
</div>
